@import "../styles/themes.scss";
@import "../styles/queries.scss";

.app-header {
  display: grid;
  grid-area: app-header;
  grid-template-columns: 1fr auto;
  width: 100%;
  background: rgba-color(light-0);
  box-sizing: border-box;

  .app-title {
    font-size: 1rem;
    color: rgba-color(dark-0);
    margin: 0;
    padding: 0;
  }

  .state-select {
    display: none;
  }
}

@include breakpoint("large") {
  .app-header {
    grid-template-columns: auto;

    .app-title {
      display: none;
    }

    .state-select {
      display: initial;
    }
  }
}
