@import "../styles/themes.scss";

.map-container {
  grid-area: map;
  position: relative;
  background: inherit !important;
  width: 100%;
  height: 100%;
  flex-basis: 1;
}

.locale-controls{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
