@import "../styles/themes.scss";

// Map which will apply opacity fill value to a layer on the map.
$strength-opacity-map: (
  "nominal": 0.025,
  "slight": 0.05,
  "minor": 0.1,
  "moderate": 0.25,
  "significant": 0.5,
  "extreme": 1,
);

/*
Leaflet positioning overrides
*/
.leaflet-map-pane {
  z-index: 0;
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}
.leaflet-top .leaflet-control {
  margin-top: 0;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 0;
}

/*
leaflet interactive layer:
This would apply to localities rendered on the map
*/
.leaflet-interactive {
  fill: rgba-color(light-2);
  fill-opacity: 1;
  stroke: rgba-color(light-3);
  stroke-opacity: 1;
  stroke-width: 1px;

  @each $strength, $opacity in $strength-opacity-map {
    &.#{$strength} {
      fill-opacity: $opacity;
      stroke: rgba-color(dark-3);
    }
  }

  &.majority-gop {
    fill: rgba-color(party-gop);
  }

  &.majority-dem {
    fill: rgba-color(party-dem);
  }

  &.no-majority {
    fill: rgba-color(subtext);
  }

  &.selected,
  &:hover {
    transition-property: fill fill-opacity;
  }

  &.selected {
		fill: rgba-color(highlight);
		fill-opacity: 1;
		stroke: rgba-color(highlight);
		stroke-opacity: 1;
  }

  &:hover:not(.selected) {
    fill: rgba-color(highlight);
    fill-opacity: 0.5;
    stroke: rgba-color(highlight);
  }
}

/*
Leaflet zoom control buttons
*/
.leaflet-touch {
    .leaflet-control-container {

  .leaflet-bar {
    padding: 0rem;
    margin: 0.5rem;
    border: none;

    a {
      background: rgba-color(light-3);
      color: rgba-color(dark-0);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 900;

      &:hover,
      &:focus {
        background: rgba-color(highlight);
        border: none;
        color: rgba-color(light-0);
      }
    }
  }}
}

/*
leaflet link on map
*/
.leaflet-control-container .leaflet-control-attribution.leaflet-control {
  background: transparent;
  padding: 0.5rem;

  a {
    color: rgba-color(subtext);
    padding: 0.25rem;
  }
}