@import "../styles/themes.scss";
@import "../styles/sizing.scss";

.precinct-details {
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-height: 100%;
  overflow: hidden;

  .nav-wrapper {
    top: 0;
    padding: $padding-size;
    padding-top: 0;
    position: sticky;
    border-width: 0;
    border-style: solid;
    border-color: rgba-color(light-1);
    border-bottom-width: $border-size;

    .back-button {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: rgba-color(highlight);
      background: transparent;
      padding: 0;
      margin-top: 1rem;
      cursor: pointer;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
  .body {
    overflow: auto;
  }
}
