@import "../styles/sizing.scss";
@import "../styles/themes.scss";

.details-panel {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;

  header {
    border-width: 0;
    border-bottom-width: $border-size;
    border-color: rgba-color(light-1);
    border-style: solid;
    padding: $padding-size;
    margin: 0;
  }

  hr {
    width: 100%;
    height: $border-size;
    background: rgba-color(light-1);
    outline: none;
    border: none;
    display: none;
  }

  .body {
    position: relative;
    display: flex;
    flex-direction: column;

    .topic {
      padding: $padding-size;
      display: flex;
      flex-direction: column;
      border-bottom: $border-size solid rgba-color(light-1);
    }

    h3 {
      margin: 0;
      margin-bottom: $padding-size/2;
      padding: 0;
      font-size: 1rem;
      font-weight: 700;
      display: flex;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: $padding-size;
      }
    }
  }
}

.details-panel-header {
  border-bottom-width: $border-size;
  border-top-width: $border-size;
  background: rgba-color(light-0);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1.625rem;
  }

  .subtext {
    color: rgba-color(subtext);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}

.details-table {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;

  thead,
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;

    tr {
      display: grid;

      th,
      td {
        padding: $padding-size/2 $padding-size;
        font-size: 0.875rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        border: 0;
        border-color: rgba-color(light-1);
        border-style: solid;
        border-bottom-width: $border-size;

        button {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          background: transparent;
          color: rgba-color(highlight);
          font-size: inherit;
          padding: 0;
          margin: 0;
          cursor: pointer;

          &:hover,
          &:focus {
            color: rgba-color(dark-0);
          }
        }

        input {
          cursor: pointer;
          margin: 0;
          padding: 0;

          &.ghost {
            //visibility: hidden;
            opacity: 0.25;
          }
        }

        &:last-of-type {
          justify-content: flex-start;
        }
      }

      th {
        background: rgba-color(light-1);
        border-color: rgba-color(light-2);
        color: rgba-color(subtext);
      }

      td {
        //font-size: 0.75rem;
      }
    }
  }
}

.party-marker {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;

  &.dem {
    background: rgba-color(party-dem);
  }

  &.gop {
    background: rgba-color(party-gop);
  }
}

.timestamp {
  color: rgba-color(subtext);
}
