@import "../styles/themes.scss";
@import "../styles/sizing.scss";

.timestamp-history {
  display: flex;
  flex-direction: column;
}

.timestamp-table {
  tr {
    grid-template-columns: auto 1fr auto;

    .radio-cell {
     // background: rgba-color(light-0);
      padding-right: 0;
      //display: none;
    }

    button {
      color: rgba-color(highlight);
    }
  }
}
