@import "../styles/themes.scss";

.selectors-wrapper {
  display: flex;
  align-items: center;
	justify-content: center;
	width: auto;
	flex-shrink: 0;
	position: relative;
}

.select-wrapper {
	margin: 0 0.25rem;
	width: 160px;
	max-width: 160px;
	display: flex;
	margin: 0;
}
