@import "../styles/themes.scss";
@import "../styles/sizing.scss";

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background: rgba-color(light-1);
}

.timeline-svg {
  width: 100%;
  height: 100%;
  height: $timeline-ruler-height * 2 + $timeline-track-height;
  position: relative;
  background: rgba-color(light-0);
  cursor: grab;
  order: 2;

  &:active {
    cursor: move;
  }

  text {
    user-select: none;
    cursor: inherit;
  }

  .timeline-track {
    fill: rgba-color(light-1);
    height: $timeline-ruler-height;

    &.bottom {
      y: $timeline-ruler-height + $timeline-track-height;
    }
  }

  .timeline-rule-label {
    fill: rgba-color(dark-0);
    font-size: 10px;
    z-index: 3;
  }

  .timeline-rule-mark {
    stroke: rgba-color(dark-0, 0.2);
    stroke-width: 1px;
    z-index: 1;

    &.demi {
      stroke: rgba-color(dark-0, 0.5);
    }

    &.strong {
      stroke: rgba-color(dark-0);
    }

    &::after {
      content: "test label";
      color: rgba-color(highlight);
      position: absolute;
    }
  }
}

.timeline-element-group {
  .timeline-element,
  .timestamp-marker {
    stroke-width: 1px;
    stroke: rgba-color(dark-0);
  }

  .timeline-element {
    &.dem {
      stroke: rgba-color(party-dem);
    }

    &.gop {
      stroke: rgba-color(party-gop);
    }
  }

  .timestamp-marker {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus,
  &.selected {
    outline: none;
  }

  &.disabled {
    .timeline-element {
      opacity: 0.25;
    }

    .timestamp-marker {
      stroke: rgba-color(light-2);
      cursor: inherit;

      &:hover,
      &:active {
        stroke: rgba-color(light-3);
      }
    }
  }
}

.timeline-controls-wrapper {
  display: initial;
  order: 2;
  padding: 0.25rem 0;
}
