@import "../styles/themes.scss";
@import "../styles/queries.scss";
@import "../styles/sizing.scss";

$icon-size: 12px;

.timeline-controls {
  position: relative;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". time-controls .";

  section {
    position: relative;
    display: flex;

    &.span-width,
    &.zoom-controls {
      width: 100%;
    }

    &.time-controls {
      grid-area: time-controls;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.zoom-controls {
      grid-area: zoom-controls;
      display: none;
    }
  }

  select {
    margin: 0 $padding-size/2;
  }

  button {
    background: rgba-color(light-3);
    color: rgba-color(dark-3);
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active,
    &:focus {
      &:not(:disabled) {
        background: rgba-color(highlight);
        color: rgba-color(light-3);
      }
    }

    &:disabled {
      cursor: inherit;
      background: rgba-color(light-1);
      color: rgba-color(light-3);
      transform: background 0.25s ease;
    }

    svg{
      width: 100%;
      height: 100%;
      min-width: $icon-size;
    }
  }
}

.button-group {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}

@include breakpoint("large") {
  .timeline-controls {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". time-controls zoom-controls";

    section {
      &.zoom-controls {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
      }
    }
  }
}
