
// Height measurement constants
$app-header-height: 40px;
$locality-panel-height: 180px;
$timeline-ruler-height: 16px;
$timeline-track-height: 60px;

// Sizing constants
$border-size: 1px;
$padding-size: 1.5rem;