/* Theme palette entries  */
$light-theme: (
  // dark values
  "dark-0": rgb(24, 20, 16),
  "dark-1": rgb(28, 24, 22),
  "dark-2": rgb(48, 46, 42),
  "dark-3": rgb(72, 71, 70),
  // light values
  "light-0": rgb(226, 228, 229),
  "light-1": rgb(204, 206, 208),
  "light-2": rgb(182, 185, 188),
  "light-3": rgb(164, 167, 170),
  // intermediate text values
  "subtext": rgb(125, 123, 120),
  // political party colors
  "party-gop": rgb(180, 0, 30),
  "party-dem": rgb(40, 0, 180),
  // system colors
  "highlight": rgb(232, 86, 23)
);

$dark-theme: (
  // dark values
  "dark-0": rgb(255, 255, 255),
  "dark-1": rgb(234, 237, 237),
  "dark-2": rgb(218, 220, 220),
  "dark-3": rgb(205, 208, 208),
  // light values
  "light-0": rgb(16, 17, 17),
  "light-1": rgb(25, 26, 26),
  "light-2": rgb(40, 41, 41),
  "light-3": rgb(64, 65, 65),
  // intermediate text values
  "subtext": rgb(141, 144, 144),
  // political party colors
  "party-gop": rgb(224, 36, 7),
  "party-dem": rgb(0, 64, 214),
  // system colors
  "highlight": rgb(255, 160, 8),
  //rgb(255, 170, 0)
);

@mixin map-css-custom-props-by-theme($theme) {
  @each $color-key, $color in $theme {
    --color-#{$color-key}: #{red($color), green($color), blue($color)};
  }
}

@function rgba-color($color-key, $opacity: 1) {
  @return RGBA(var(--color-#{$color-key}), $opacity);
}
