@import "../styles/themes.scss";
@import "../styles/sizing.scss";

.definition-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.875rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  overflow: hidden;

  dd,
  dt {
    margin: 0;
    padding: $padding-size/2 $padding-size;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    border: 0;
    border-style: solid;
    border-top-width: $border-size;
    color: rgba-color(subtext);

    &:last-of-type {
      border-bottom-width: $border-size;
    }

    &.no-background {
      background: transparent;
      border-color: rgba-color(light-1);
    }

    &.emphasis {
      color: rgba-color(dark-0);
    }
  }
  dt {
    background: rgba-color(light-1);
    border-color: rgba-color(light-2);
    text-transform: capitalize;
  }
  dd {
    text-align: left;
    border-color: rgba-color(light-1);
  }
}
