@import "../styles/themes.scss";

@keyframes bubble-phase {
  0% {
    opacity: 0;
    transform: scale(0.4) translateY(200%) rotate3d(0, 0, 0, 0);
    z-index: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0%) rotate3d(0.5, 0.5, 0, 180deg);
    z-index: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.4) translateY(200%) rotate3d(1, 1, 0, 360deg);
    z-index: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  z-index: 10;
  border-radius: 100%;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.bubble {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  mix-blend-mode: overlay;
  animation-name: bubble-phase;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  &.A {
    margin-left: -25%;
    margin-top: -25%;
    background: rgb(255, 126, 5);
    animation-delay: 0s;
  }
  &.B {
    margin-left: 25%;
    margin-top: -25%;
    background: rgb(0, 170, 255);
    animation-delay: 0.5s;
  }
  &.C {
    margin-left: -25%;
    margin-top: 25%;
    background: rgb(224, 0, 112);
    animation-delay: 1s;
  }
  &.D {
    margin-left: 25%;
    margin-top: 25%;
    background: rgb(0, 163, 76);
    animation-delay: 1.5s;
  }
  &.E {
    margin-left: 0%;
    margin-top: 0%;
    background: rgb(255, 234, 5);
    animation-delay: 2s;
  }
}
