@import "../styles/themes.scss";

.map-popover {
  position: absolute;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background: rgba-color(light-0);
  color: rgba-color(dark-3);
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 1;
  z-index: 1000;
  transform: translate3d(-50%, -175%, 0);
  display: flex;
  flex-direction: column;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba-color(light-0);
    background: transparent;
    z-index: -1;
  }

  &.hide {
    display: none;
  }
}

.precinct-name{
  font-weight: 700;
}
.county-name{
  font-size: 0.75rem;
}