@import "../styles/themes.scss";

$border-size: 2px;

.ratio-bar {
  position: relative;
  width: 100%;
  height: 1.25rem;
  border-radius: $border-size;
  background: rgba-color(light-1);
  overflow: hidden;

  .percent-majority-votes {
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    border-radius: inherit;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba-color(light-3);
    transition-property: width, background;
    transition-timing-function: ease;
    transition-duration: 0.4s;

    &.dem {
      background: rgba-color(party-dem);
    }

    &.gop {
      background: rgba-color(party-gop);
    }

    label {
      position: absolute;
      font-size: 0.675rem;
      color: rgba-color(dark-0);
      color: white;
      padding: 0 0.5rem;
      transition-property: transform;
      transition-timing-function: ease;
      transition-duration: 0.4s;
      line-height: 1;

      &.outside {
        transform: translateX(100%);
      }
    }
  }
}