@import "../styles/themes.scss";

@mixin font-styles {
  line-height: 1;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgba-color(dark-0);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.search-component {
  min-width: 240px;
  display: flex;
  flex-direction: column;

  .search-bar-wrapper {
    position: relative;
    background: rgba-color(light-3);
    border-radius: 0.2rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    overflow: hidden;
    z-index: 2;

    .search-input {
      @include font-styles;
      background: transparent;
      position: relative;
      border: none;
      outline: none;
      flex-grow: 1;

      &::placeholder {
        color: rgba-color(subtext);
      }
    }

    button.action {
      background: transparent;
      color: rgba-color(dark-0);
      justify-self: flex-end;
      position: relative;
      right: 0;
      padding: 0 0.75rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color 0.25s ease;
      cursor: pointer;

      &:hover,
      &:focus {
        background: rgba-color(highlight);
      }
    }

    &.empty,
    &.loading {
      button.action {
        color: rgba-color(subtext);
      }
    }
  }

  .option-list-window {
    background: rgba-color(light-3);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    z-index: 1;
    margin-top: -1rem;
    padding-top: 1rem;
    max-height: 50vh;
    overflow: auto;
    border-radius: inherit;

    ol,
    ul {
      max-width: 100%;
      list-style: none;
      color: rgba-color(dark-0);
      margin: 0;
      padding: 0;
      display: inline-flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;

      li {
        @include font-styles;
        line-height: initial;
        font-weight: 400;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        border: 0;
        border-top: 1px solid rgba-color(light-3);
        cursor: pointer;

        &:first-of-type {
          margin-top: 0.5rem;
        }
        &:last-of-type {
          margin-bottom: 0.5rem;
        }
        &:hover {
          background: rgba-color(light-3);
        }

        .precinct-entry {
          position: relative;
        }

        .precinct-name {
          span.highlight {
            background: rgba-color(highlight);
            color: rgba-color(light-0);
          }
        }

        .county-name {
          margin-top: 0.25rem;
          span {
            color: rgba-color(subtext);
            font-style: italic;
          }
        }
      }
    }
  }

  &.expanded {
    .search-bar-wrapper {
      border-bottom: 2px solid rgba-color(subtext, 0.25);
    }
  }
}
