@import "../styles/themes.scss";

.select-input {
  //appearance: none;
  background: rgba-color(light-3);
  color: rgba-color(dark-0);
  border-color: rgba-color(subtext);
  border: none;
  border-radius: 2px;
  outline: none;
  min-width: 120px;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  flex-grow: 1;

  &:hover,
  &:active,
  &:focus {
    &:not(:disabled) {
      outline: 2px solid rgba-color(highlight) !important;
    }
  }

  option {
    background: rgba-color(light-1);

    &:disabled {
      color: rgba-color(subtext);
    }
  }

  &:disabled {
    opacity: 0.25;
  }
}
