@import "../styles/themes.scss";

@mixin font-styles {
  line-height: 1;
  font-size: 0.75rem;
  color: rgba-color(dark-0);
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}

.search-component {
  position: relative;
  background: rgba-color(light-3);
  border-radius: 0.2rem;
  width: 100%;
  min-width: 60px;
  min-height: 1.25rem;
  display: flex;
  overflow: hidden;

  .search-input {
    @include font-styles;
    background: transparent;
    position: relative;
    border: none;
    outline: none;
    flex-grow: 1;
    min-width: 0;

    &::placeholder {
      @include font-styles;
      padding: 0;
      color: rgba-color(subtext);
    }
  }

  button.action {
    background: transparent;
    color: rgba-color(dark-0);
    justify-self: flex-end;
    position: relative;
    right: 0;
    padding: 0 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.25s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba-color(highlight);
    }
  }

  &.empty,
  &.loading {
    button.action {
      color: rgba-color(subtext);
    }
  }
}
