@import "../styles/themes.scss";
@import "../styles/sizing.scss";

.timeline-indicator {
  cursor: ew-resize;

  rect {
    fill: transparent;
    stroke: transparent;
  }

  line {
    stroke: rgba-color(highlight);
    stroke-width: 1;
  }

  path {
    fill: rgba-color(highlight);
    stroke-width: 0;
    transform: translateY($timeline-ruler-height);
    transform: none;

    &.shadow {
      fill: rgba-color(light-0);
    }
  }
}
