@import "./styles/themes.scss";
@import "./styles/sizing.scss";
@import "./styles/queries.scss";

.page {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: rgba-color(light-3);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: 360px 1fr;
  grid-gap: 1px;
  grid-template-areas:
    "app-header app-header"
    "view-mode-controls view-mode-controls"
    "vote-details chloropleth"
    "timeline-controls timeline-controls"
    "timeline timeline";
}

.app-header {
  grid-area: app-header;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba-color(light-0);
  padding: $padding-size/2 $padding-size;
  width: 100%;
}

.map-panel,
.locality-panel {
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
}

.map-panel {
  grid-area: chloropleth;
  position: relative;
  background: rgba-color(light-1);
}

.details-panel {
  grid-area: vote-details;
  background: rgba-color(light-0);
  position: relative;
  overflow: auto;
}

.view-mode-controls {
  grid-area: view-mode-controls;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-size;
  background-color: rgba-color(light-0);
}

.timeline-panel {
  grid-area: timeline;
}

.timeline-panel,
.timeline-controls {
  position: relative;
  background: rgba-color(light-0);
}

.timeline-controls {
  grid-area: timeline-controls;
  display: inline-block;
  display: flex;
  justify-content: center;
  padding: $padding-size/2 $padding-size;
}

.load-indicator-wrapper {
  position: absolute;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 1);
  z-index: 500;
  transition-property: opacity, visibility;
  transition-timing-function: ease, linear;
  transition-delay: 0s, 0.2s;
  transition-duration: 0.2s, 0s;

  &.dim {
    visibility: hidden;
    opacity: 0;
  }

  .load-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%);
  }
}

@include breakpoint("large") {
  .page {
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 420px 1fr;
    grid-template-areas:
      "vote-details app-header"
      "vote-details chloropleth"
      "vote-details timeline-controls"
      "vote-details timeline";

    .view-mode-controls {
      display: none;
    }
  }
}
