@import "./styles/themes.scss";

/*
Document root styling:
Applies thematic support for light/dark mode and CSS variables
*/
:root {
  // use system fonts: as found on github
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  // font sizes with minimal breakpoint support via media query
  font-size: 16px;
  color: rgba-color(dark-0);

  // By default, map dark-mode theme variables
  @include map-css-custom-props-by-theme($dark-theme);

  // If user prefers light theme, apply light-theme variables instead
  /*
  @media (prefers-color-scheme: light) {
    @include map-css-custom-props-by-theme($light-theme);
  }
  */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

input[type='radio' i] {
  background: rgba-color(dark-0, 0.25); 
  border-color: rgba-color(dark-0);
  border-width: 2px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}